.itemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1vw;
}
