.itemWrapper {
  display: block;
  justify-content: center;
  align-items: center;
}

.imageItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageItem img {
  height: 50vw;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw;
}

.buttonWrapper img {
  height: 3vw;
}

button {
  padding: 1vw;
  display: inline;
}
