* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2vw 5vw 5vw 5vw;
  font-size: 1.25rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: purple;
  font-size: 0.75rem;
}
