.imageMap {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: inline;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageUL {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  list-style: none;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
  padding: 10px;
}

li img {
  height: 25vw;
}

.zoomIcon {
  height: 2vw;
}

button {
  display: inline;
  margin: 1vw;
  height: 5vw;
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
}
