.imageCard img {
  height: 25vw;
}

.imageUL {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  list-style: none;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
}
